body {
    background-color: green;
    margin: 0;
}

div.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
}

div.card {
    background-color: white;
    width: 2.5in;
    height: 3.5in;
    border-radius: 0.5rem;
    border: medium solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span.center {
    font-size: 400%;
}

div.card[data-suite="hearts"] span.suite::before {
    content: "\2665";
}

div.card[data-suite="diamonds"] span.suite::before {
    content: "\2666";
}

div.card[data-suite="clubs"] span.suite::before {
    content: "\2663";
}

div.card[data-suite="spades"] span.suite::before {
    content: "\2660";
}

div.card[data-rank="A"] span.rank::before {
    content: "A";
}

div.card:is([data-suite="hearts"], [data-suite="diamonds"]) {
    color: red;
}

div.card:is([data-suite="clubs"], [data-suite="spades"]) {
    color: black;
}

span:is(.top-left, .bottom-right) {
    font-size: 200%;
    padding: 0.25rem;
    text-align: center;
}

span.top-left {
    align-self: flex-start;
}

span.bottom-right {
    align-self: flex-end;
    transform: rotate(180deg);
}